<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.css">
</head>
<body >
<!--标题-->
<h2 class="page-header" ng-bind="title"></h2>
<div class="list-group">
    <a href="#/detail/{{movie.id}}" class="list-group-item" ng-repeat="movie in movies">
        <div class="media">
            <!-- 电影评论平均数-->
            <span class="badge pull-right">{{movie.rating.average}}</span>
            <div class="media-left">
                <!-- 电影海报 小图片-->
                <img src="{{movie.images.small}}" alt="" class="media-object img-thumbnail">
            </div>
            <div class="media-body">
                <!-- 电影名字-->
                <h3 class="media-heading">{{movie.title}}</h3>
                <!-- 导演 有可能是多个-->
                <p>
                    导演
                    <span ng-repeat="director in movie.director">{{director.nam}}{{$last?'':'、'}}</span>
                </p>
                <p class="caption">
                    类型
                    <span>{{moive.genres.join('、')}}</span>
                </p>
            </div>
        </div>
    </a>
</div>

<!--底部-->
<uib-pager total-items="total" items-per-page="size" align="false" ng-model="currentPage">

</uib-pager>
<!--<div>
    <button class="btn btn-default">上一页</button>
    <button class="btn btn-default">下一页</button>
    <p>共： {{total || 1000}}</p>
</div>-->
<!--模态视图 记载进度显示-->
<div class="modal fade show" ng-class="{in:loading}" ng-hide="!loading">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                正在加载
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 进度条-->
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>